@font-face {
    font-family: 'Modak', cursive;
    src: url (Modak-Regular_ttf)
}

div {
    font-family: 'Modak', cursive;
    font-weight: bold;  
}

.navbar { 
  padding-top: 20px;
  padding-bottom: 20px;      
}

.navbar-brand {
  flex: 1;
}

#logo {
  width: 30px;
  height: 30px; 
  display: flex;  
}
  
.container {  
  display: flex;  
}
    
.search {  
  flex: 1;  
}

.btn {
  flex: 1; 
}

.container > li {  
  flex: 1;  
}

  /*Media*/

@media all and (max-width: 400px) {
  .container {  
    flex-direction: column;  
  }    
  .container > li {  
    flex-basis: 100%;  
  }  
  .search {  
    order: 1;     
  }  
  .btn {
    order: 1;
    flex-direction: column;   
  }
}

@media all and (max-width: 600px) {  
  .container {  
    flex-direction: column;  
  }  
  .container > li {  
    flex-basis: 50%;  
  }
  .search {  
    order: 1;    
  }
  .btn {
    order: 1;
    flex-direction: column;  
  }
}

@media all and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .container > li {
    flex-basis: 100%;
  }
  .search {  
    order: 1;       
}
  .btn {
    order: 1;
      flex-direction: column;   
  } 
}